.musicContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.musicCards {
  display: flex;
  padding: 20px;
  border-radius: 30px;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(50, 50, 50, 0.2)
  );
  backdrop-filter: blur(5px);

  width: 25%;
  margin: 20px auto;
  flex-direction: column;
  flex-wrap: wrap;
}
.artwork {
  cursor: pointer;
  margin: 0 auto;
  width: 90%;
  border-radius: 6px;
  filter: drop-shadow(-10px 5px 0.65rem black);
  margin-bottom: 20px;
  backdrop-filter: blur(5px);
}
.albumName {
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.albumDesc {
  line-height: 10px;
  color: white;

  display: flex;
  flex-direction: column;
}

.albumLink {
  letter-spacing: 5px;
  font-weight: bold;
  margin: 15px auto;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  .musicCards {
    width: 100%;
    height: fit-content;
    height: 100px;
    backdrop-filter: blur(50px);
    width: 90%;
    padding-top: 35px;
  }
  .artwork {
    margin: 0 0;
    width: 100%;
    opacity: 20%;
    height: 100%;
    object-fit: cover;
  }

  .albumName {
    font-size: 16px;
    position: absolute;
    /* left: 25%; */
    top: 5%;
  }

  .albumDesc {
    position: absolute;
    /* left: 25%; */
    /* margin: 0 auto; */
    line-height: 0px;
    margin-top: 0px;
  }
}
