.landingContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  flex-direction: column;
  text-align: center;
  animation: landingAnimation ease-in-out 1.4s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes landingAnimation {
  0% {
    opacity: 0;
    transform: translate(0px, -100px);
  }

  100% {
    opacity: 100;
    transform: translate(0px, 0px);
  }
}

.header {
  font-size: 150px;
  margin: 0 auto;
  color: white;
  background: none;
  margin-bottom: -87px;
}
.linkContainer {
  display: flex;
  justify-content: space-around;
  min-width: 500px;
}
.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  font-size: 24px;
  font-weight: bold;
  outline: none;
  font-style: italic;
  filter: drop-shadow(0.1em 0.1em rgba(255, 0, 0, 0.6));
  animation: rgbAnimation ease-in-out 0.2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes rgbAnimation {
  0% {
    filter: drop-shadow(0.12em 0.15em hsla(0, 100%, 50%, 0.6));
  }
  0% {
    filter: drop-shadow(0.08em 0.15em hsl(241, 100%, 50%, 0.6));
  }
  0% {
    filter: drop-shadow(0.04em 0.1em hsl(0, 100%, 50%, 0.6));
  }

  100% {
    filter: drop-shadow(0.19em 0.09em hsl(250, 100%, 50%, 0.6));
    transform: translate(0px, 0px);
  }
}
