#greeting {
  font-size: 12px;
}

.introModal {
  backdrop-filter: invert();

  text-align: center;
  padding: 20px;
  background-color: white;
  width: 40%;
  height: 50%;
  /* padding-top: 15%;
  padding-bottom: 30px; */
  background-color: rgba(224, 224, 225, 0.9);
  /* display: flex; */
  justify-content: center;
  align-items: "";
  /* flex-direction: column; */
  /* max-height: 500px; */
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  overflow: scroll;
  outline: none;
}

#transition-modal-title {
  padding: 0px;
  margin-bottom: -30px;
}
.artwork {
  margin: 0 auto;
  display: flex;
  max-width: 250px;
  border-radius: 5px;
  filter: drop-shadow(-10px 5px 0.65rem black);
}

@media only screen and (max-width: 900px) {
  .introModal {
    width: 80%;
  }

  .artwork {
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    min-width: 130px;
    max-width: 130px;
    border-radius: 2px;
    filter: drop-shadow(-10px 5px 0.65rem black);
    opacity: 100%;
  }
}

/* @media only screen and (max-width: 790px) {
  .introModal {
    width: 70%;
    height: 60%;
    padding-top: 30%;
    padding-bottom: 0%;
  }
}
@media only screen and (max-width: 700px) {
  .introModal {
    width: 70%;
    height: 60%;
    padding-top: 40%;
    padding-bottom: 0%;
  }
}

@media only screen and (max-width: 580px) {
  .introModal {
    width: 70%;
    height: 60%;
    padding-top: 50%;
    padding-bottom: 0%;
  }
}
@media only screen and (max-width: 530px) {
  .introModal {
    width: 70%;
    height: 60%;
    padding-top: 70%;
    padding-bottom: 0%;
  }
}
@media only screen and (max-width: 470px) {
  .introModal {
    width: 70%;
    height: 60%;
    padding-top: 90%;
    padding-bottom: 0%;
  }
}
@media only screen and (max-width: 410px) {
  .introModal {
    width: 70%;
    height: 60%;
    padding-top: 90%;
    padding-bottom: 0%;
  }
} */
