.backgroundVideo {
  position: fixed;
  z-index: -1;
  min-height: 100%;
}

.gradients {
  /* opacity: 20%; */
}

.orange {
  display: flex;
  flex-direction: row;
  position: fixed;
  transform: rotate(25deg);
  left: -10%;
  width: 100%;
  border-radius: 30%;
  height: 100%;
  background-color: rgb(240, 184, 81);
  filter: blur(30px);
}

.blue {
  display: flex;
  flex-direction: row;
  position: fixed;
  transform: rotate(-13deg);
  left: 25%;
  width: 100%;
  border-radius: 30%;
  height: 100%;
  background-color: rgb(95, 238, 107);
  filter: blur(30px);
}

.teal {
  display: flex;
  flex-direction: row;
  position: fixed;
  transform: rotate(100deg);
  left: 30%;
  width: 100%;
  border-radius: 30%;
  height: 100%;
  background-color: teal;
  filter: blur(30px);
}

.pink {
  display: flex;
  flex-direction: row;
  position: fixed;
  transform: rotate(-52deg);
  left: 51%;
  width: 100%;
  border-radius: 30%;
  height: 100%;
  background-color: pink;
  filter: blur(30px);
}
