.footerContainer {
  width: 40%;

  /* background-image: linear-gradient(grey, rgb(255, 255, 255)); */
  opacity: 80%;
  backdrop-filter: invert();

  height: fit-content;
}

.footer {
  width: 100%;
  margin-bottom: -50px;
  position: sticky;
  text-align: center;
  color: black;
  font-weight: light;
  line-height: 30px;
  letter-spacing: 7px;
}
